h1 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

p{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}