

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-image: url('../Images/back3.png'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    color: #ffffff; 
}


img {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}

h1, p {
    color: #0e0e0e; 
    font-family: monospace;
    font-size: 1rem; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    line-height: 1.6;
    letter-spacing: 0.5px;

    padding: 10px 200px; 

    
 
  }


ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

li
{
    display: inline;
}

li a
{
    text-decoration: none;
    color: #989191;
    font-size: large;
    padding: 15px 20px;
    color: white; 
}

li a:hover
{
    color: #625959;
    background-color: rgb(136, 148, 148);
    border-radius: 30px;
}


.navbar
{
	border: 1px solid #a2a2a2;
    border-radius: 5px;
	background-color: #090b09c5;
    background-image: url('../Images/nav3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 10%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.nav-contianer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; 
    text-shadow: 4px 4px 8px rgba(28, 3, 3, 0.5);
    line-height: 1.6;
    letter-spacing: 0.5px;
    padding: 10px 10px; 
}

#ico
{
    font-size: 30px;
    color: #913615;
    color: white; 
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, 1px -1px 0 #000; 
    background-color: rgb(169, 223, 223);
    border-radius: 30px;
    padding: 8px 10px;
}


